#info{
    position: fixed;
    height: 100%;
    padding: 1rem;
    right: 0;
}

#info-img{
    margin-top: 0.3rem;
    width: 20%;
    height: 3rem;
    border-radius: 50%;
}

#profile{
    padding: 1rem;
    display: flex;
    margin-bottom: 2rem;
}

#name{
    margin: 0;
}

#location{
    margin: 0;
}

#profile-icon{
    width: 1.1rem;
    height: 1.1rem;
}

#attributes{
    background-color: rgb(206, 206, 206);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

#break, #details{
    margin-bottom: 2rem;
}

#finish-btn{
    width: 100%;
    border: none;
    background-color: #5D5FEF;
    padding: 0.8rem;
    color: white;
    font-weight: 500;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

#finish-btn:hover{
    transform: scale(1.05);
    background-color: #4b4df0;
}